@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Set up CSS variables for theming */
:root {
  --color-bg: #DCDCDC;
  --color-text: #ffffff;
  --color-primary: #FFFFFF;
  --color-secondary: #066cfa;
}

.dark {
  --color-bg: #0C0E0C;
  --color-text: #ffffff;
  --color-primary: #28282B;
  --color-secondary: #28282B;
}
/*#70b4eb;*/

/* Apply global background and text colors */
html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: block;
  /* ensure block flow */
}
/*Gilroy font pack*/
@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/gilroy/Gilroy-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/gilroy/Gilroy-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/gilroy/Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/gilroy/Gilroy-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/gilroy/Gilroy-Heavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}